* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    background: #fff;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 52px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 52px;
    min-width: 113px;
    border-radius: 8px;
    color: #fff;
    background: #212832;
    font-weight: 600;
    line-height: 1.75;
    transition: opacity 500ms;
}

.btn:hover {
    opacity: 0.85;
}

h2 {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-tag {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    color: #696d77;
    line-height: 1.75;
}

.section-tag::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
}

.section-desc--normal {
    margin-top: 18px;
    color: #696d76;
    font-size: 1.8rem;
    line-height: 1.67;
}

.section-desc--small {
    margin-top: 16px;
    color: #696d76;
    line-height: 1.75;
}

/* Header */

.header {
    position: sticky;
    top: -32px;
    padding: 42px 0 10px;
    z-index: 999;
}

.header__inner {
    display: flex;
    align-items: center;
}

.logo__wrap {
    padding: 12px 12px 12px 0;
    margin-right: 42px;
}

.logo {
    height: 24px;
}

.navbar__menu-list {
    display: flex;
    gap: 16px;
}

.navbar__link {
    padding: 10px 16px;
    color: #696d76;
    line-height: 1.75;
    transition: text-decoration 500ms;
}

.navbar__link--active {
    color: #212832;
    font-weight: 600;
    line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.header__cta-list {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__cta-link {
    display: inline-block;
    padding: 10px 16px;
    color: #212832;
    font-weight: 600;
    line-height: 1.75;
    transition: text-decoration 500ms;
}

.header__cta-link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Hero */
.hero {
    padding: 80px 0;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero__content {
    width: 46%;
    flex-shrink: 0;
}

.title {
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
}

.title span {
    color: #7264d6;
}

.hero__form {
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding: 8px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__form-input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    outline: none;
    border: none;
}

.hero__form-input::placeholder {
    color: #696d76;
    line-height: 1.75;
}

.hero__form-btn {
    min-width: 149px;
    height: 58px;
    border-radius: 8px;
    background: #7264d6;
    border: none;
    outline: none;
    cursor: pointer;
}

.hero__form-desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero__media {
    position: relative;
    width: 54%;
    flex-shrink: 0;
}

.hero__media-item-1 {
    position: relative;
    left: 160px;
    width: 296px;
    height: 562px;
    padding: 40px 10px 30px;
    border-radius: 40px;
    border: 12px solid #212832;
    background: #fff;
}

.hero__media-item-1::before {
    position: absolute;
    content: "";
    width: 144px;
    height: 36px;
    top: -12px;
    left: 50%;
    translate: -50%;
    border-radius: 0px 0px 18px 18px;
    background: #3c2f60;
}

.hero__media-item-1__card {
    position: relative;
    margin-bottom: 24px;
    width: 100%;
    height: 150px;
    padding: 16px;
    border-radius: 20px;
    background: linear-gradient(76deg, #9487ea 11.52%, #6657d2 70.78%);
    color: #fff;
    overflow: hidden;
}

.hero__media-item-1__card::before {
    position: absolute;
    top: 0;
    left: 0;
    content: url(../icon/circle-overlap-1.svg);
}

.hero__media-item-1__card::after {
    position: absolute;
    bottom: -3px;
    right: -17px;
    content: url(../icon/circle-overlap-2.svg);
}

.hero__media-item-1__top-row,
.hero__media-item-1__bottom-row {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    position: relative;
    z-index: 1;
}

.hero__media-item-1__top-row :first-child {
    font-size: 1.4rem;
    line-height: 1.36;
}

.hero__media-item-1__top-row :nth-child(2) {
    justify-self: end;
}

.hero__media-item-1__top-row :last-child {
    margin-top: 2px;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.36;
}

.hero__media-item-1__bottom-row {
    margin-top: 32px;
}

.hero__media-item-1__bottom-row :first-child,
.hero__media-item-1__bottom-row :nth-child(2) {
    font-size: 1rem;
    line-height: 1.4;
}

.hero__media-item-1__bottom-row :nth-child(3),
.hero__media-item-1__bottom-row :last-child {
    margin-top: 6px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.33;
}

.hero__media-item-1__filter,
.hero__media-item-1__item {
    display: flex;
    align-items: center;
}

.hero__media-item-1__filter :first-child {
    color: #31456a;
    font-weight: 600;
}

.hero__media-item-1__filter :last-child {
    margin-left: auto;
}

.hero__media-item-1__list {
    display: grid;
    margin-top: 24px;
    row-gap: 28px;
}

.hero__media-item-1__item figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: rgb(74 181 227 / 10%);
    box-shadow: 4px 2px 16px 0px rgba(136, 165, 191, 0.48),
        -4px -2px 16px 0px #fff;
}

.hero__media-item-1__list > div:nth-of-type(2) figure {
    background: #da64641a;
}

.hero__media-item-1__list > div:nth-of-type(3) figure {
    background: #439f901a;
}

.hero__media-item-1__list > div:nth-of-type(4) figure {
    background: #7264d61a;
}

.hero__media-item-1__item div {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 6px;
}

.hero__media-item-1__item p:nth-of-type(1),
.hero__media-item-1__item p:nth-of-type(2) {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
}

.hero__media-item-1__item p:nth-of-type(3),
.hero__media-item-1__item p:nth-of-type(4) {
    color: #696d76;
    font-size: 1rem;
}

.hero__media-item-1__item p:nth-of-type(even) {
    justify-self: end;
}

.hero__media-item-2 {
    position: absolute;
    left: 60px;
    top: 117px;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero__media-item-2 :nth-child(2) {
    margin-left: 8px;
    margin-right: 19px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
}

.hero__media-item-2 :nth-child(3) {
    color: #4ab5e3;
    font-size: 1.4rem;
}

.hero__media-item-3 {
    position: absolute;
    top: 127px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background: #da6464;
    color: #fff;
}

.hero__media-item-3 :first-child {
    font-size: 4.4rem;
    font-weight: 600;
}

.hero__media-item-4 {
    position: absolute;
    right: 100px;
    bottom: 61px;
    padding: 20px 14px;
    display: grid;
    grid-template: 1fr auto / 1fr auto;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    color: #fff;
}

.hero__media-item-4 img {
    grid-row: span 2;
    align-self: center;
}

.hero__media-item-4 p:first-of-type {
    font-size: 1.4rem;
    font-weight: 600;
}

.hero__media-item-4 p:last-of-type {
    font-size: 0.8rem;
}
